body {
    overflow: hidden;
    height: 300vh;
  }
  
  .push {
    margin-bottom: 20vw;
  }
  
  .orbit {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
  
    transform-origin: center center;
    animation: orbit 4s linear infinite;
  }
  
  .image-container img {
    width: 50px;
  }
  
  .image-container:nth-child(1) {
    animation-delay: -1s;
    transform: rotate(90deg) translateX(200px) rotate(-90deg);
  }
  
  .image-container:nth-child(2) {
    animation-delay: -2s;
    transform: rotate(180deg) translateX(250px) rotate(-180deg);
  }
  
  .image-container:nth-child(3) {
    animation-delay: -3s;
    transform: rotate(270deg) translateX(200px) rotate(-270deg);
  }
  
  .image-container:nth-child(4) {
    animation-delay: -4s;
    transform: rotate(0deg) translateX(250px) rotate(0deg);
  }
  

  
  .center-button {
    text-decoration: none;
    font-size: 50px;
    color: black;
    text-transform: uppercase;

  }
  
  @keyframes orbit {
    from {
      transform: rotate(0deg) translateX(250px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(200px) rotate(-360deg);
    }
  }