body{
max-width: 100%;
overflow-x: hidden;
margin: 0px;
background-color: #474652;
}

*{
    padding: none
    ;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;

}


a{
color: inherit;
list-style: none;
text-decoration: none;
}

.navbar-links{
flex: 1;
display: flex;
justify-content: flex-end;
margin: 0px;
background-color: #3F3E46;
}

.homebutton{
margin-left: 2vw; 
position: absolute;
left: 0px;
}


.navbar-links li{

margin-top: .75vh;
margin-bottom: .75vh;
list-style: none;
font-size: 2vw;
font-weight: 600;

}

.redtext{
color: #D82D62
}

.redtext a{
    color: #D82D62
    }
.yellowtext{
color: #DDD055
}

.home::before,
.portfolio::before,
.aboutme::before,
.contact::before,
.resume::before,
.nametitle::before,
.psubl::before
{
    padding: 0px;
  content: "\003C";
  color: gainsboro;
  font-weight: 100;
}

.home::after,
.portfolio::after,
.aboutme::after,
.contact::after,
.resume::after,
.nametitle::after,
.psubl::after {  

  content: "\003E";
  color: gainsboro;
  font-weight: 100;

}

.hello-title::before{
    content: "\003C";
    color: black;
    font-weight: 100;
}

.hello-title::after{
    content: "\003E";
    color: black;
    font-weight: 100;
}



nav ul ul{
	position: absolute;  
    background-color: #3F3E46;
    list-style: none;
    padding: 0px;
    display: none;
    width: fit-content;
    z-index: 9999999999999999999999;
}

nav ul li li {
	}

nav ul li:hover > ul {
	display:inherit;
}

nav ul ul li {
    white-space: nowrap;



	float:none;
	display:list-item;
	position: relative;
}


nav ul ul ul li {
	position: relative;

}

nav  ul ul a {
    justify-content: left;
    color:white;
    padding: none;

}

.nametitle{
    text-align: center;
    margin-top: 2.5vh;
    font-size: 6vw;
    font-weight: 500;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

.threewords{
    font-size: 4vw;
    margin-top: 10vh;
}

.wordone{
color: #DDD055;
font-style: italic;
font-weight: 100;
margin-left: 15vw;
margin-bottom: 5vh;
}


.wordtwo{
color: #AE063A;
font-style: italic;
font-weight: 100;
margin-left: 24vw;
margin-bottom: 5vh;

}

.wordthree{
    margin-left: 27vw;

    font-weight: 100;

color: #17B371;
font-style: italic;

}

.wordimageflex{
    display: flex;
    justify-content: space-between;
}

.mainpageimage img {
    margin-right: 15vw;
    width: 30vw;
    height: auto;
}

.pinkslope{
    background-image: url("slopes/pinkslope.png");
    margin-top: 5vh;
    width: 100vw;
    height: 100px;

}

.yellowslope{
    background-image: url("slopes/yellowslope.png");
    margin-top: 5vh;
    width: 100vw;
    height: 100px;
}
.pbg{
    margin-top: .0051vh;
    height: 100vh;
    background-color: #D82D62;
}

.ybg{
    height: 500vh;
    background-color: #D0CA8E;
}
.hello-title{
    margin-left: 10vw;
    font-size: 5vw;
    color:black;
    font-weight: 650;
}

.hello-titlecolumn{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;

}
.hello-text{
    margin-left: 10vw;
    font-size: 2vw;
    width: 35vw;
    color:black;
    font-weight: 650;
}

.hello-textimagewrap{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.helloimage img{
    position: relative;
    top: +25%;
    margin-right: 15vw;
    width: 30vw;
    height: auto;

}


.section::-webkit-scrollbar {
    width: 10px;
  }
  
  .section {
    scrollbar-width: thin;
  }

 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 2.5px); }
    100%   { transform: translate(0, -0px); }   
}

.age{
    color:white
}



.popup {
    position: fixed;
    display: none;
    height: 20vh;
    position: absolute;
    z-index: 9999;
    background-color: #474652;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .popup-title {
    font-size: 1.2em;
  }
  
  .popup-close {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .popup-content {
    padding: 10px;
  }
  
  .popup.draggable {
    cursor: move;
  }