@media only screen and (max-width: 800px) {
    body{
        overflow-x: hidden;
  }


  body .pbg{
    height: 100vw;
  }

  body .tv-container{
    transform: scale(.6);
}

body .wrap{
    display: flex;
    flex-direction: column;
}

  body .threewords{
    margin-bottom: 0px;
    transition: ease 2s;
    margin-left: 15vw;
}

body .wordone{
    margin-left: 0vw;

}

body .wordtwo{
    margin-left: 0vw;

}

body .wordthree{
    margin-left: 0vw;

}

body .mainpageimage{
    position: relative;
    top: 10vw;
}

body .mainpageimage img{
    width: 75%;
}

body .nametitle{
}

body .wordimageflex{
    position: relative;
    bottom:  5vw;
}

body .ybg{
    height: 120vw;
}

body .footer{
    height: 30vh;
}

body .footer .footerlist{
    font-size: 2vw;
;

}


}



body{
max-width: 100%;
overflow-x: hidden;
margin: 0px;
background-color: #474652;
}
 
*{
    padding: none
    ;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}


a{
color: inherit;
list-style: none;
text-decoration: none;
}

.navbar-links{
flex: 1;
display: flex;
justify-content: flex-end;
margin: 0px;
background-color: #3F3E46;
}

.homebutton{
margin-left: 2vw; 
position: absolute;
left: 0px;
}


.navbar-links li{

margin-top: .75vh;
margin-bottom: .75vh;
list-style: none;
font-size: 2vw;
font-weight: 600;

}

.redtext{
color: #D82D62
}

.redtext a{
    color: #D82D62
    }
.yellowtext{
color: #DDD055
}

.home::before,
.portfolio::before,
.aboutme::before,
.resume::before,
.nametitle::before,
.psubl::before,
.contact::before
{

  content: "\003C";
  color: gainsboro;
  font-weight: 100;
}

.home::after,
.portfolio::after,
.aboutme::after,
.resume::after,
.nametitle::after,
.psubl::after,
.contact::after
 {  

  content: "\003E";
  color: gainsboro;
  font-weight: 100;

}

.about-title::before,
.contactme::before{
    content: "\003C";
    color: black;
    font-weight: 100;
}

.about-title:after{
    content: "\003E";
    color: black;
    font-weight: 100;
}


.hello-title::before{
    content: "\003C";
    color: black;
    font-weight: 100;
}

.hello-title::after{
    content: "\003E";
    color: black;
    font-weight: 100;
}

.home:hover{
    transform: scale(1.1);
    transition: .2s ease;
}

nav ul ul{
    transition: .2s ease;

	position: absolute;  
    background-color: #3F3E46;
    list-style: none;
    padding: 0px;
    display: none;
    width: fit-content;
    z-index: 9999999999999999999999;
}

nav ul li li {
	}

nav ul li:hover > ul {
	display:inherit;
    transition: ease 1s;
}

nav ul ul li {
    transition: .2s ease;
    white-space: nowrap;
	float:none;
	display:list-item;
	position: relative;
}


nav ul ul ul li {
	position: relative;

}

nav ul ul li:hover{
    transform: scale(1.1);
    background-color: white;
}

nav  ul ul a {
    transition: .2s ease;

    justify-content: left;
    color:white;
    padding: none;

}

.nametitle{
    text-align: center;
    margin-top: 2.5vh;
    font-size: 6vw;
    font-weight: 500;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}


.threewords{
    font-size: 4vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-right: 2.5vw;
}

.wordone{
color: #DDD055;
font-style: italic;
font-weight: 100;
margin-left: 15vw;
margin-bottom: 5vh;
}


.wordtwo{
color: #AE063A;
font-style: italic;
font-weight: 100;
margin-left: 24vw;
margin-bottom: 5vh;

}

.wordthree{
    margin-left: 27vw;

    font-weight: 100;

color: #17B371;
font-style: italic;

}

.wordimageflex{
    display: flex;
    justify-content: space-between;
}

.mainpageimage img {
    margin-top: 10vh;
    margin-right: 15vw;
    width: 30vw;
    height: auto;
    border-radius: 3vw;
    animation: imageglow;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


.pinkslope{
    
    background-image: url("slopes/pinkslope.png");
    margin-top: 5vh;
    width: 100vw;
    height: 100px;
    z-index: 9999999999999999999;;


}

.yellowslope{
    background-image: url("slopes/yellowslope.png");
    margin-top: 5vh;
    width: 100vw;
    height: 100px;
}
.pbg{
    z-index: -999999999;
    -webkit-box-shadow:0px 0px 105px  rgba(204,4,151,0.9);
    -moz-box-shadow: 0px 0px 105px  rgba(204,4,151,0.9);
    box-shadow: 0px 0px 105px 45px rgba(204,4,151,0.9);
    
    margin-top: .0051vh;
    height: 150vh;
    background-color: #D82D62
}

.ybg{
    z-index: -999999999;

    height: 200vh;
    background-color: #D0CA8E;

    
    -webkit-box-shadow:0px 0px 105px 45px rgba(184,194,43,0.9);
-moz-box-shadow: 0px 0px 105px 45px rgba(184,194,43,0.9);
box-shadow: 0px 0px 105px 45px rgba(184,194,43,0.9);
}
.hello-title{
    margin-left: 10vw;
    font-size: 5vw;
    color:black;
    font-weight: 650;
}

.hello-titlecolumn{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;

}
.hello-text{
    margin-left: 10vw;
    font-size: 2vw;
    width: 35vw;
    color:black;
    font-weight: 650;
}

.hello-textimagewrap{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.helloimage img{
    position: relative;
    top: +25%;
    margin-right: 15vw;
    width: 30vw;
    height: auto;

}


.section::-webkit-scrollbar {
    width: 10px;
  }
  
  .section {
    scrollbar-width: thin;
  }

 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 2.5px); }
    100%   { transform: translate(0, -0px); }   
}

.age{
    color:white
}

.age:hover{
    cursor: pointer;
}


.rotatingimage img{
    width: 10vw
}


.popup {
    position: fixed;
    display: none;
    height: 50vh;
    position: absolute;
    z-index: 9999;
    background-color: #474652;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .date{
    font-size: 3rem;

    color:white
  }
  .popup-title {
    font-size: 1.2em;
  }
  
  .popup-close {
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .popup-content {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
  }
  
  .popup.draggable {
    cursor: move;
  }

.aboutmewrap{
    position: relative;
    bottom: -7.5vw;
    display: flex;
    flex-direction: row;
}

.aboutmeimage img{
    margin-left: 10vw;
    width: 40vw;
    height: auto;
}

.about-title{
    position: relative;
    left: 12.5vw;
    font-weight: 500;
    font-size: 5vw;
}

.about-text{
    margin-left: 10vw;
    font-size: 2vw;
    width: 35vw;
    color:black;
    font-weight: 650;
}

.takemebutton{
    background-color: #3F3E46;
    width: 25vw;
    height: 5vw;
    margin-left: 13vw;
    border-radius: 2vw;
    display: flex;
}

.takemebutton:hover{
    transform: scale(1.1);
    transition: ease .2s;
    background-color: white;
}

.takemebutton p:hover{
    color:black
}

.takemebutton p{
    height: 100%;
    align-self: center;
    color:white;
    text-align: center;
    font-size: 2vw;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    position: relative;
    top: 25%;
    
    

}

.aboutmecolumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grayslope{
    background-image: url("slopes/grayslope.png");
    width: 100vw;
    height: 100px;
    z-index: 9999999999999999999;;
    margin-top: 15vw;

}

.gbg{
    -webkit-box-shadow:0px 0px 105px 45px rgba(99,110,107,0.9);
-moz-box-shadow: 0px 0px 105px 45px rgba(99,110,107,0.9);
box-shadow: 0px 0px 105px 45px rgba(99,110,107,0.9);
z-index: 99999999999999999;
    height: 150vh;
    background-color: #474652;
  

}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

  }
  
  .social-media button {
    border-radius: 1vw;
    height: 17.5vw;
    width: 17.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F3E46;
    border: none;
    padding: 10px;
    margin: 0 10px;
    transition: .2s;
    position: relative;
    top: 10vw;

    box-shadow: none;
  }

  .boxq:hover{
    background-color: #DDD055;
cursor: pointer;
transform: scale(1.1);

  }
  
  .social-media button img {
    width: 60px;
    height: 60px;
    }

    .resumeview{
        margin-top: 5vw;
        margin-left: 15vw;
        margin-right: 15vw;
        display: flex;
        justify-content: space-between;
    }


    .resumeimage img{
        width: 30vw;
        height: auto;
        filter: blur(4px);
        -webkit-filter: blur(2px);
    }

    .viewqualifications{
        font-size: 3vw;
        color: black;
        font-weight: 600;
        position: relative;
        top: 12.5vw;
    }


    .footer{
        margin-top: none;
        background-color: #474652;
        height: 14vw;
    
 
    }

    .socialslist img{
        width: 40px;
        height: 40px;
        margin-top: 2.5vw;
        z-index: 999989999999999999999;
    
    }

    .socialslist img:hover{
        transition: ease .2s;
        transform: scale(1.2);
    }

    .socialslist{        margin-top: 0px;

        display: flex;
        justify-content: space-between;
        width: 10vw;
        margin-left: 45vw;
        margin-right: 45vw;
        margin-bottom: 2.5vw;
    
    }
    .footerlist{
        color:white;
        margin-left: none;
        font-size: 1.5rem;
        font-weight: 100;
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        width: 50%;
        text-align: center;
        margin-left: 22.5vw;

    }

    .michaelcopyright{
        color:white;
        font-weight: 100;
        position: relative;
        width: 100%;
        text-align: center;
        margin-left: 1vw;
    }
        
    .columnqq{
        display: flex;  
        flex-direction: column;
    }

.image-container img{
    width: 50px;
    height: 50px;
}


  .orbit-container{
    height: 25vw;
  }
  

  .frame {
    background-image: url(tv/frame.png);
    background-size: cover;
    background-position: center;
    width: 366px;
    height: 260px;
    position: relative;
  }
  
  .tvframe img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin-left: 20px;

}

.tvscreen{
    -webkit-box-shadow:0px 0px 111px 31px rgba(169,186,181,0.28);
-moz-box-shadow: 0px 0px 111px 31px rgba(169,186,181,0.28);
box-shadow: 0px 0px 111px 31px rgba(169,186,181,0.28);
    margin-top: 5px;
position: absolute;
  top: 20px;
  left: 20px;
  right: 25px;
  bottom: 20px;
    background-image: url(images/static.gif);
  z-index: 1;
  height: 207px;
  width: 245px;
  border-radius: 40px;
    margin-left: 5px;
    opacity: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.attenae{
    margin-left: 250px;
    position: relative;
    bottom: 50px;
}

.volume-frame{
    position: absolute;
    bottom: 133px;
    right: 12px;
    width: 72px;
    height: 105px;
    background-image: url(tv/volumeframe.png);
}


.vent-frame{
    position: absolute;
    bottom: 21px;
    right: 12px;
    width: 72px;
    height: 105px;
    background-image: url(tv/tvvent.png);
}

#button1 {
    background-image: url(tv/button1.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  #button2 {
    background-image: url(tv/button2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
  }

  .wrap{
    display: flex;
    margin-right: 15vw;
    margin-left: 15vw;
    margin-bottom: 10vw;
    position: relative;
    top: 2.5vw;
    justify-content: space-between;
}

.portfoliotitle{
    position: relative;
    top: 10vw;
}

.attenae{
    position: relative;
    top: .2vw;
}



.title {
    margin-left: 10vw;
    font-size: 5vw;
    color:black;
    font-weight: 650; 
}


.text{
    margin-left: 10vw;
    font-size: 2vw;
    width: 35vw;
    color:black;
    font-weight: 650;
}

.hobbiesflex{
    position: relative;
    top: 5vw;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.image img{
    position: relative;
    top: +25%;
    margin-right: 15vw;
    width: 30vw;
    height: auto;
}


.awardscolumn{
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
}

.awardone{
    display: flex;
    flex-direction: row;
}

.awardtwo{
    display: flex;
    flex-direction: row;
}

.planflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 5vw;
}

.slideshow-container {
    position: relative;
    width: 40vw;
    height: 40vw;
    overflow: hidden;
  }
  
  .slideshow-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .slideshow-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}   
  
  .slideshow-images img.active {
    display: block;
    border-radius: none;

  }
  
  .slideshow-navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    border-radius: 50px;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    background-color: #bbb;
    cursor: pointer;
  }
  
  .dot.active {
    background-color:#3F3E46;
  }



  .hobbiesimage{
    bottom: 10vw;
    margin-right: 10vw;
    margin-right: 5vw;
   position: relative; 
  }
  
  .portfoliocolumn{
    display: flex;
    justify-content: space-between;
  }

  .programmingimage img{
    height: 70vh;
    width: 30vw;
    border-radius: 1.5vw;
}

    .writingimage img{
        height: 70vh;
        width: 30vw;
        border-radius: 1.5vw;
    }

.aboutmepic img{
    margin-right: 15vw;
}

.planimage{
    margin-left: 10vw;
}

.plantext p{
    position: relative;
    right: 15vw;
    width: 100%;
}

.resumebg{
    width: fit-content;
    border-radius: .5vw;
    margin-left: 10vw;
    transform: scale(1.5);
    transition: ease 1s;
    position: relative;
    top: 40vh;
}

.resumetitle h2{
    color:#D82D62;
}

.bulletpoint{
    list-style: outside;
}

.te{
    transition: ease 1s;
}

.emailbox{
    padding: 2vw;
    background-color:#3F3E46;
    width: 50vw;
    height: 50vh;
    position: relative;
    left: 20vw;
}

.name input{
    width: 100%;
    height: 3vw;
    margin-bottom: 2.5vw;

}


.youremail input{
    width: 100%;
    height: 3vw;
    margin-bottom: 2.5vw;

}

.message input{
    width: 100%;
    height: 30vh;
    margin-bottom: 5vw;}

      .animation {
        opacity: 0; /* initially hidden */
        transform: translateY(50px); /* initially translated down */
        transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* add transition */
      }
      
      .animation.play {
        opacity: 1; /* show when scrolled to */
        transform: translateY(0); /* move up when scrolled to */
      }

      .contactme{
        position: relative;
        top: 5vw;
      }


      .footerlist a.footerlink {
        background-image: linear-gradient(
          to right,
          #D82D62,
          #DDD055 50%,
          #000 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
      }
      
      .footerlist a.footerlink:before {
        content: '';
        background: #D82D62;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
      }
      
      .footerlist a.footerlink:hover {
        background-position: 0;
      }
      
      .footerlist a.footerlink:hover:before {
        width: 100%;
      }

      .certificate img{
        margin-top: 0px;
        width: 40vw;
        height: auto;
        margin-bottom: 2.5vw;
      }

      .at{
        position: relative;
        top: 25vh;
        font-size: 2.5vw;
        white-space: nowrap;
    }

    .awat{
        margin-left: 10vw;
    }

    .strikethrough{
        text-decoration: line-through black 3px
        ;
    }